.verseSelected
{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C0E0FF), to(#C0E0FF));
}
.strongs
{
    color: #248;
    font-size: 75%;
    font-style: italic;
}
.parsed
{
    color: #606060;
    font-size: 75%;
    font-style: italic;
    padding-right: 10px;
}
