
body
{
    margin: 0 0;
    font-family: Arial, Helvetica, Serif;
    font-size: 15px;
    line-height: 150%;
    color: #333;
    background-color: #000;
    -webkit-tap-highlight-color:transparent;
    y-webkit-transform:translate3d(0,0,0);
    y-webkit-backface-visibility:hidden; 
}

.panel
{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    overflow: hidden;
    border: none;
    y-webkit-user-select: none;
    background-color: #E1E4E9;
    ybackground-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E1E4E9), to(#DDDFE3));
    y-webkit-transform:translate3d(0,0,0);
    y-webkit-backface-visibility:hidden; 
}
.navBar
{
    font-size:20px;
    font-weight: bold;
    text-align: center;
    height:42px;
    line-height: 42px;
    text-shadow: 1px 1px 1px #FFF;
    width:100%;
    border-radius: 5px 5px 0px 0px;
    background-color: #CCC;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F5F7), to(#A6A7AA));
    border: none;
    border-bottom: 1px solid #848589;
    border-top: 1px solid #FFF;
    -webkit-user-select: none;
    color: #717880;
}

.navBar .button
{
    margin-top: 8px;
    float: left;
    margin-left: 12px;
}
.navBar #navTitleArea
{
    position: absolute;
    left: 160px;
    right: 160px;
}

.bottomTabs
{
    text-shadow: 0px -1px 1px #000000;
    background-color: #CCC;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#808080), to(#282828));
    border: none;
    border-bottom: 1px solid #202020;
    border-top: 1px solid #202020;
    color: #E8E8E8;
    z-webkit-box-shadow: inset 0 25px 0px rgba(255,255,255,0.125);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 10px;
}

.bottomTabs select
{
    -webkit-appearance: none;
    line-height: 36px;
    max-width: 150px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;    
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 24px;    
}

.bottomTabs .barItem
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    color: #E8E8E8;
    text-shadow: none;
    text-decoration: none;
    height: 50px;
    background-repeat: no-repeat;
    
}

.bottomTabs .barItem span
{
    display: block;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#888));
    -webkit-mask-position: center -2px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 40px 40px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: -25px;
}


.bottomTabs .barItem.sel
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 25px 5px rgba(255,255,255,0.25);
    background-color: #777;
}

.bottomTabs .barItem.sel span
{
    background-image:-webkit-gradient(linear, 0% 0%, 0% 75%, from(#C0D8FF), to(#FFF));
}

.dropdown
{
    -webkit-appearance: none;
    line-height: 24px;
    text-align: right;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    border: none;    
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 24px;
    float: right;    
    width: 250px;
}

.container
{
    position: absolute;
    top: 44px;
    bottom: 0px;
    left: 0px;
    right: 0px;
             
    border: none;
}

@-webkit-keyframes slideOut
{
    0%
    {
        -webkit-transform:translate3d(0,0,0);
    }
    100%
    {
        -webkit-transform:translate3d(-100%,0,0);
    }
}

@-webkit-keyframes slideBack
{
    0%
    {
        -webkit-transform:translate3d(0,0,0);
    }
    100%
    {
        -webkit-transform:translate3d(100%,0,0);
    }
}

.content
{
    color: #5E6A85;
    zposition: relative;
    min-height: 1024px;
    y-webkit-transform:translate3d(0,0,0);
}

.content.white
{
    color: #333333;
    background-color:white;
}

.content h1
{
   text-shadow: 2px 2px 2px #FFF;
}

.content h2, .listHeader
{
    height: 24px;
    line-height: 24px;
    background-color: #888;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66686A), to(#A4A7AA));
    color: #FFF;
    text-shadow: none;
    font-size:20px;
    font-weight:bold;
    text-align: left;
    margin:0 0;
    padding-left: 12px;
    border: none;
    border-top: 1px solid #717378;
    border-bottom: 1px solid #848589;
    -webkit-user-select: none;
    list-style: none;
}

.content p
{
    text-shadow: 1px 1px 1px #FFF;
}
.content.white p
{
    text-shadow: none !important;
}

.content a, .content a:visited
{
    color: #000;
}



.navSubItemGroup
{
    -webkit-user-select: none;
    padding: 0;
}

.listGroup
{
    border-radius:10px;
    background-color:#FFF;
    border:1px solid #CCCFD3;
    -webkit-box-shadow: inset 0px 1px 0px #CCCFD3, 0px 1px 0px #FFFFFF;
    margin-bottom: 1em;
    padding: 0;
}
.listItem
{
    border-bottom:1px solid #CCCFD3;
    border-collapse:collapse;
    padding:12px;
    font-weight: bold;
    color: #000;
    text-shadow: none;
    font-size:16px;
    display: block;
    text-decoration: none;
    position: relative;
    list-style: none;
}
.listItem .minor
{
    font-weight: normal;
    color: #5E6A85;
    text-wrap: none;
    display: inline-block;
}
.listItem.arrow
{
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 36px;
}
.listItem img
{
    border: none;
    margin-left: -12px;
    margin-top: -12px;
    margin-right: 12px;
    margin-bottom: -12px;
    border-right:1px solid #000;
    float: left;
    display: inline-block;
}
.listItem:last-child
{
    border-bottom: 1px solid transparent;
}
.listItem:first-child img
{
    border-top-left-radius: 10px;
}
.listItem:last-child img
{
    border-bottom-left-radius: 10px;
}
.listGroup h2:first-child
{
    border-top: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.listGroup h2:last-child
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navSubItem
{
    color: #333;
    text-shadow: 1px 1px 1px #FFF;
    font-size:20px;
    line-height:42px;
    height:42px;
    border: none;
    border-bottom:1px solid #D3D4D8;
    border-top:1px solid #E9EBED;
    border-collapse: collapse;
    text-decoration: none;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    -webkit-user-select: none;
    list-style: none;
    clear: both;
}

.navSubItem.sel
{
    color:#FFF;
    background-color:#008;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#068AF5), to(#045CE6)); /* not quite */         
    text-shadow:none;
    border-bottom:1px solid #068AF5;
    border-top:1px solid #045CE6;                
}

.navSubItem img
{
    width:36px;
    height:36px;
    float: left;
    margin-right: 8px;
    margin-top: 3px;
}

.gridExpander
{
    -webkit-transition: max-height 0.5s ease;
    max-height: 0px;
    overflow: hidden;
}

.gridExpander.open
{
    max-height: 160px; /* 760 if counting Psalms. */
}

.gridItem
{
    display: block;
    float: left;
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.5);
    text-decoration: none;
}

.trackList
{
    font-size: 15px;
    text-shadow: none;
    font-weight: bold;
    color: #333;
    clear: both;
    border-right:1px solid #E8E8E8;
    border-bottom:1px solid #E8E8E8;
}

.trackList td
{
    border-left:1px solid #E8E8E8;
    border-top:1px solid #E8E8E8;
    padding: 12px;
}

.tracklist tr.oddRow td
{
    background-color: #D3D4D8;
}

.tracklist tr.evnRow td
{
    background-color: #E9EAED;
}

.imgLeft
{
    float: left;
    margin-right: 12px;
    margin-left: 12px;
}

.floatRight
{
    float: right;
}

.floatLeft
{
    float: left;
}

input[type="search"]
{
    font-size:12pt;
}

label
{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 100px;
    overflow: hidden;
}

input[type="text"], input[type="email"], input[type="url"], input[type="number"], input[type="password"]
{
    -webkit-appearance: none;
    background: transparent;
    display: inline-block;
    font-weight: normal;
    color: #5E6A85;
    text-wrap: none;
    font-size: 11pt;
    border: none;
    position: absolute;
    left: 110px;
    right: 10px;
    margin-top: -1px;
}
textarea
{
    -webkit-appearance: none;
    border-radius:10px;
    background-color:#FFF;
    border:1px solid #CCCFD3;
    -webkit-box-shadow: inset 0px 1px 0px #CCCFD3, 0px 1px 0px #FFFFFF;
    margin-bottom: 1em;
    color: #5E6A85;
    font-weight: normal;
    width: 100%;
    font-size: 11pt;
    padding: 12px;
}

/* The following tweaked from  view-source:http://vxjs.org/CSS3/UI/Back_Next_Buttons.html*/

		.button
		{
			color: #fff;
			text-decoration: none;
			display: inline-block;
			padding: 4px 10px;
			-webkit-border-radius: 5px;
			font: normal 16px/18px Helvetica, Arial, sans-serif;
			z-index: 1;
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#93A4BE),color-stop(0.5, #627AA8), color-stop(0.5, #456395), to(#4B6B94));
			border: solid 1px rgba(79, 79, 79, 0.75);
			text-shadow: 0px -1px 1px #000;
      -webkit-appearance: none;
		}
		
		.button.black {
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#93A4BE),color-stop(0.5, #627AA8), color-stop(0.5, #456395), to(#4B6B94));
			border: solid 1px rgba(79, 79, 79, 0.75);
			text-shadow: 0px -1px 1px #000;
		}

		header.button
		{
		
		}
		.button.back {
			position: relative;
			padding-left: 5px;
			margin-left: 20px;
                        
		}
		.back.black > span {
			background-image: -webkit-gradient(linear, left top, right bottom, from(#93A4BE),color-stop(0.5, #627AA8), color-stop(0.5, #456395), to(#4B6B94));
			border-left: solid 1px rgba(79, 79, 79, 0.75);
			border-bottom: solid 1px rgba(79, 79, 79, 0.75);
			-webkit-border-top-left-radius: 6px;
			-webkit-border-bottom-right-radius: 6px;
			height: 21px;
			width: 21px;
			display: inline-block;
			-webkit-transform: rotate(45deg);
			position: absolute;
			left: -8px;
			top: 2px;
			z-index:-1;
		}

		
		.button.next {
			position: relative;
			padding-right: 5px;
			margin-right: 8px;
		}
		.next.black > span {
			background-image: -webkit-gradient(linear, left top, right bottom, from(#93A4BE),color-stop(0.5, #627AA8), color-stop(0.5, #456395), to(#4B6B94));
			border-right: solid 1px rgba(79, 79, 79, 0.75);
			border-top: solid 1px rgba(79, 79, 79, 0.75);
			-webkit-border-top-left-radius: 6px;
			-webkit-border-bottom-right-radius: 6px;
			height: 20px;
			width: 20px;
			display: inline-block;
			-webkit-transform: rotate(45deg);
			-webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(#000000), color-stop(0.5,#000000), color-stop(0.5, transparent), to(transparent));
			position: absolute;
			right: -8px;
			top: 2px;
			-webkit-background-clip: content
		}

#theSearch
{
    position: absolute;
    right: 16px;
    top: 6px;
    width: 160px;
    border: 1px solid #888;
    border-radius: 16px;
    padding-left: 32px;
    padding-right: 32px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
}
#theSearch span.searchIcon
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    background-image: url(../images/masks/Search@2x.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: -2px 0px
    opacity: 0.5;
}
#theSearch span.clearSearch
{
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 24px;
    background-image: url(../images/masks/Deleteb@2x.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: -8px -1px;
    opacity: 0.5;
}
#theSearch input
{
    padding: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
    line-height: 28px;
    border: none;
}

/* some basic hide/show to get the app in the base state */
                #btnBack, #btnMenu, #theSearch
                {
                    display: none;
                }
#container1, #container2
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    float: left;
        y-webkit-transform:translate3d(0,0,0);
}
#container2
{
    left: 100%;
        y-webkit-transform:translate3d(0,0,0);
}
#outerContainer
{   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
        -webkit-transform:translate3d(0,0,0);
}
		
#loader
{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: none;
}

#bodyPanel 
{ 
    display: none; 
}

#menuPanel 
{
    left: -324px;
    z-index: 4;
    box-shadow: 0px 0px 8px #000;
    -webkit-transition: left 0.5s ease;
    width: 320px;
    -webkit-transform: translate3d(0,0,0);
}

#btnMenu { display: block;     width: 16px;
}
#btnMenu span
{
    display: block;
    background-image: url(../images/color/list2b.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:24px 24px;
}

#tabBar
{
    display: none;
}


/*
 * the following code for iOS switches is from http://vxjs.org/switch.html
 */
.switch {
    float: right;
    height: 28px;
    width: 77px;
    border: 1px solid #979797;
    border-radius: 20px;
    margin-top: -5px;
    box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(232, 232, 232, 0.5);
    cursor: pointer;
    overflow: hidden !important;
}
.switch input[type=checkbox] {
    display: none;
}
.switch::before {
    content: "";
    display: block;
    height: 28px;
    width: 0px;
    position: absolute;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 2px #0063B7, inset 0 12px 3px 2px rgba(0, 127, 234, 0.5);
    box-shadow: inset 0 1px 2px #0063B7, inset 0 12px 3px 2px rgba(0, 127, 234, 0.5);
    background-color: #64B1F2;
}
.switch.on::before {
    width: 77px;
}
.switch > .thumb {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
    top: 0;
    z-index: 3;
    border: solid 1px #919191;
    border-radius: 28px;
    box-shadow: inset 0 2px 1px white, inset 0 -2px 1px white;
    background-color: #CECECE;
    background-image: -webkit-linear-gradient(#CECECE, #FBFBFB);
    background-image: -moz-linear-gradient(#CECECE, #FBFBFB);
    background-image: -o-linear-gradient(#CECECE, #FBFBFB);
    -o-transition: all 0.125s ease-in-out;
    -webkit-transition: all 0.125s ease-in-out;
    -moz-transition: all 0.125s ease-in-out;
    -o-transform: translateX(0px);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translateX(0px);
}
.switch.on > .thumb {
    -webkit-transform: translate3d(49px,0,0);
    -o-transform: translateX(49px);
    -moz-transform: translateX(49px);
}
.switch:hover > .thumb {
    box-shadow: inset 0 2px 1px #fff, inset 0 -2px 1px #fff;
    background-image: none;
}
.switch > .thumb::before {
    content: "";
    display: block;
    height: 14px;
    width: 2px;
    background-color: white;
    box-shadow: 0px -1px 1px #666;
    border: none;
    position: absolute;
    top: 6px;
    left: -24px;
}
.switch > .thumb::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: solid 2px #777;
    position: absolute;
    right: -32px;
    top: 6px;
}

/* the popover css adapted from http://jsfiddle.net/XYubE/
 */
        .popover {
        position:absolute;
        width:236px;
        z-index:1000;
        display: none;
        }
        
        .popover .popover-content {
        border:1px solid #000;
        position:relative;
        border-radius:11px;
        background-color: #151D31;
        -webkit-box-shadow: inset 0px 28px 0px rgba(255,255,255,.125);
        zbox-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37), 0px 6px 18px 0px rgba(0, 0, 0, 0.95);
        padding:5px;
        }
        
        .popover .popover-body {
        border-radius:7px;
        border:1px solid #000;
        background:#fff;
        box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.4),inset 1px 1px 4px 0px rgba(0, 0, 0, 0.66);
        }
        
        .popover .arrow {
        position:absolute;
        left:23px;
        top:-22px;
        width:48px;
        height:24px;
        overflow:hidden;
        }
        
        .popover .arrow span {
        display:block;
        width:28px;
        height:28px;
        -webkit-transform: rotate(45deg) skew(-0deg, -0deg);
        margin-top:6px;
        margin-left:6px;
        background-color: #151D31;
        -webkit-box-shadow: inset 0px 28px 0px rgba(255,255,255,.125);
        border-left:1px solid #000;
        border-top:1px solid #000;
        }
        
#hidePopOver
{
    display: none;
    position: absolute;
    z-index:999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*spinner css from http://37signals.com/svn/posts/2577-loading-spinner-animation-using-css-and-webkit 
 */

  div.spinner div {
    width: 6%;
    height: 26%;
    background: #000;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  }

    div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
    div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
    div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
    div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
    div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
    div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
    div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
    div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
    div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
    div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
    div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
    div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}
  
@-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}

div.spinner
{
  width:5%;
  height:5%;
}
div.spinner div {
  -webkit-animation: fade 1s linear infinite;
}

#loader div
{
    position: absolute;
    top:47.5%;
    left:47.5%;
    right:47.5%;
    bottom:47.5%;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}

