body.landscape.ipad
{
    width:1024px;
}

body.landscape.ipad #navSiteTitle, body.landscape.ipad #navSiteBullet
{
    display: none;
}

body.landscape.ipad #bodyPanel .content
{
    padding: 1em 10em !important;
}

