body.portrait.iphone
{
    width:320px;
}

body.portrait.iphone #bodyPanel
{
    left:0px;
    right: 0;
}

body.portrait.iphone #menuPanel
{
    display: none;
}

body.portrait.iphone #tabBar
{
    left: 0;
    right: 0;
}

