body.portrait.iphone
{
    width:320px;
}

body.portrait.iphone #bodyPanel
{
    left:0px;
    right: 0;
}


body.portrait.iphone #tabBar
{
    left: 0;
    right: 0;
}


body.portrait.iphone #noteWindow
{
    width: 320px;
    height: 460px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    border: none;
}

body.portrait.iphone #noteWindow textarea
{
    width: 300px;
    top: 54px;
    left: 10px;
    right: 10px;
    bottom: 6px;
    position: absolute;
}

body.portrait.iphone .dropdown
{
    width: 150px;
    background-position: 126px center;
}
