<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<false/>
	<key>MediaPlaybackRequiresUserAction</key>
	<false/>
	<key>AllowInlineMediaPlayback</key>
	<false/>
	<key>OpenAllWhitelistURLsInWebView</key>
	<false/>
	<key>ExternalHosts</key>
	<array>
		<string>www.greek-dictionary.net</string>
		<string>ulrikp.org</string>
		<string>www.hum.aau.dk</string>
		<string>staticccel.org</string>
		<string>dictionary.reference.com</string>
		<string>www.ccel.org</string>
		<string>m.ccel.org</string>
		<string>www.google.com</string>
		<string>www.google-analytics.com</string>
		<string>*.box.com</string>
		<string>*.boxcdn.net</string>
		<string>*.box.net</string>
		<string>*.photokandy.com</string>
		<string>*.tumblr.com</string>
		<string>*.perseus.tufts.edu</string>
		<string>*.blueletterbible.org</string>
	</array>
	<key>Plugins</key>
	<dict>
		<key>com.phonegap.accelerometer</key>
		<string>PGAccelerometer</string>
		<key>com.phonegap.camera</key>
		<string>PGCamera</string>
		<key>com.phonegap.connection</key>
		<string>PGConnection</string>
		<key>com.phonegap.contacts</key>
		<string>PGContacts</string>
		<key>com.phonegap.debugconsole</key>
		<string>PGDebugConsole</string>
		<key>com.phonegap.file</key>
		<string>PGFile</string>
		<key>ClipboardPlugin</key>
		<string>ClipboardPlugin</string>
		<key>ChildBrowser</key>
		<string>ChildBrowser</string>
		<key>ChildBrowserCommand</key>
		<string>ChildBrowserCommand</string>
		<key>com.phonegap.filetransfer</key>
		<string>PGFileTransfer</string>
		<key>com.phonegap.geolocation</key>
		<string>PGLocation</string>
		<key>com.phonegap.notification</key>
		<string>PGNotification</string>
		<key>com.phonegap.media</key>
		<string>PGSound</string>
		<key>com.phonegap.mediacapture</key>
		<string>PGCapture</string>
		<key>com.phonegap.splashscreen</key>
		<string>PGSplashScreen</string>
		<key>ActionSheet</key>
		<string>ActionSheet</string>
	</dict>
</dict>
</plist>
